@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

html .fi-body {
    background-image: url("/public/img/doodle2.png") ;
    background-attachment: fixed;

    /*opacity: 0.4;*/
}
html.dark .fi-body {
    background-image: url("/public/img/doodle2-dark.png");
    background-attachment: fixed;

    /*opacity: 0.4;*/
}

.fi-ta {
    @apply shadow-lg;
}

.fi-wi-stats-overview-stat {
    @apply shadow-lg;
}
.fi-btn {
    @apply shadow-md;
}

